@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*.{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


.body{
    font-family: "Azeret Mono";
}
.web-devolopment-container{
    max-width:1390px;
    height: 720px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 0 auto;
}
.web-devolopment-content-title{
    width: 1390px;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.web-devolopment-content-title h1{
    margin-left: 120px;
}
.web-devolopment-content-title p{
    color: rgb(13, 19, 32);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 590;
    border: 2px solid black;
    border-radius: 8px;
    opacity: 0.8;
    width: 228px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 112px;
}
.web-development-content-sub-title{
    width: 1390px;
    height: 600px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web-development-content-sub-title img{
    width: 240.28px;
height: 240px;
/* margin-bottom: 50px; */
margin-bottom: 10px;
margin-top: 200px;
}
.web-development-content-sub-title h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 800;
   margin-bottom: 10px;
}
.web-development-content-sub-title p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px;
}
#title{
    margin-left: 10px;
}
.btn p{
    border: 2px solid black;
    border-radius: 8px;
    width: 200px;
    height: 55px;
    margin-bottom:200px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
   font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 600;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* about web development container styles */

.about-web-development-container{
   width: 1090px; 
   height: 1350px;
   margin: 0 auto;
   margin-top: 74px;
   border: 1px solid white;
   border-radius: 16px;
   background: rgba(13, 19, 33, 0.02);
}

.about-web-development-content{
  width: 910px;
  height: 1160px;
  margin: 90px;
}
.about-web-development-content-title{
   width: 910px;
   height:140px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.about-web-development-content-title h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
margin-bottom: 3px;
margin-top: 3px;
}
 
.about-web-development-content-title p{
    color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 70px;
}
.about-web-development-content-title span{
    margin-left: 150px;
}
.about-web-development-change-world-one{
    width: 910px;
    height: 290px;
    margin-top: 46px;
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}
.left-side{
    width: 70%;
    height: 200px;
   margin: 40px;
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 700;
}
#btn-one{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 130px;
    height: 40px;
    color: rgb(13, 19, 33);
   font-family: Azeret Mono;
  font-size: 16px;
   font-weight: 600;
   display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 40px;
}
.right-side{
    width: 30%;
    height: 200px;
    margin-top: 40px;
    margin-right: 40px;
}
.right-side img{
    width: 259.56px;
height: 217.01px;
}

.about-web-development-modern-web-system{
    width: 910px;
    height: 290px;
    margin-top: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.second-left-side{
    
    width: 30%;
    height: 200px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    
}
.second-left-side img{
    width: 224px;
    height: 209px;
}
.second-right-side{
    width: 70%;
    height: 200px;
   margin: 40px;
    color: rgba(13, 19, 33, 0.7);
   font-family: Azeret Mono;
   font-size: 14px;
    font-weight: 700;
}
.about-web-development-change-world-two{
    width: 910px;
    height: 290px;
    margin-top: 46px;
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}

.third-left-side{
    width: 70%;
    height: 200px;
   margin: 40px;
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 700;
}
.third-right-side{
    width: 30%;
    height: 230px;
    margin-top: 40px;
    margin-right: 40px;
}
.third-right-side img{
    width: 240px;
height: 240px;
}
span{
    margin-left: 370px;
}

/* video container style */
.video-container{
    width: 1090px;
    height: 760px; 
    margin: 0 auto;
    margin-top: 74px;
}
.video-content-title{
    width: 1090px;
   height:140px;
     display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.video-content-title h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
margin-bottom: 3px;
margin-top: 3px;
}
.video-content-title p{
    color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-left: 30px;
}
.video-content-title span{
    margin-left: 250px;
}
.video{
    width: 1090px;
    height: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.video-link{
    width: 1030px;
    height: 560px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
iframe{
    border: 1px solid black;
    border-radius: 16px;
    width: 1030px;
    height: 560px;
}
